body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
  
    color: #5c5c5e;
  }

  .wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }

html{
    box-sizing: border-box;
}

*, 
*::before,
*::after{
    box-sizing: inherit;
}


h1, h2, h3, h4, h5, h6{
    margin: 0;
    pad: 0;
}

p{
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1120px;
    padding: 0 10px;
    margin: 0 auto;
}

button{
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

/* Header */

.header{
    background: #EEEFF1;
}

.nav{
    display: flex;
    align-items: center;
    padding-top: 57px;
    justify-content: space-between;
}

.logo{
    font-family: 'Revalia';
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    color: #34547A;
}

.menu-btn{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 45px;
    height: 30px;
}


.menu-btn span{
    height: 2px;
    background: #000000;
    width: 100%;
}


.menu{
    display: flex;
    gap: 42px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
}

.menu__item.menu__item--active{
    color:#34547A;
}


/* Main */

.top{
    display: flex;
    gap: 142px;
    justify-content: center;
    margin-left: 70px;

}

.top__inner{
    padding-top: 162px;
    background: #EEEFF1;
    padding-bottom: 146px;
}

.top__suptitle{
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    
    color: #000000;  
}

.top__title p{
    max-width: 540px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
    margin-top: 60px;
}

.top__btn{
    padding: 25px 41px;
    margin-top: 60px;

    width: 225px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
    background: #34547A;
}


/* /.about */

.section__title-inner{
    text-align: center;
    padding-top: 110px;
}

.section__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    
    color: #000000;
}

.section__text{
    max-width: 530px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.about__item{
    margin-top: 100px;

    background: #34547A;
    padding: 100px 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 141px);
    gap: 52px;
}



.about__skills{
    margin: 0 auto;
    margin-top: 100px;

    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

.about__skills-box{
    justify-self: center;
    width: 454px;
}


.about__skills-suptitle{
    margin-bottom: 50px;
}


.about__skills-image{
    max-width: 555px;
    max-height: 450px;
}


.about__skills-suptitle{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}


.about__skills-subtitle{
    padding-bottom: 24px;
    border-bottom: 4px solid #C4C4C4;
    position: relative;
}

.about__skills-subtitle::before{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -4px;
 
    
    background: #34547A;
    height: 4px;
    width: 350px;
}

.about__skills-subtitle + .about__skills-subtitle{
    margin-top: 30px;
}


/* /.work */

.work{
    background: #EEEFF1;
    margin-top: 100px;
}

.work__video-inner{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 37px;
    margin-bottom: 100px;
    background: url(../image/main/video.png) no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 1110px;
    height: 600px;
    width: 100%;
    position: relative;
}

.work__video-image{
    max-width: 1110px;
    max-height: 600px;
    width: 100%;
}

.work__video-play{
    margin: 0 auto;
    cursor: pointer;
    width: 100px;
}




.work__images-inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



.work__items{
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(4, 255px);
    justify-content: center;
    gap: 30px;
}




@media(max-width:1160px){
    .top{
        margin-left: 0;
        gap: 80px;
    }

    .about__item{
        grid-template-columns: repeat(3, 1fr);
    }

    .about__item-img{
        justify-self: center;
    }

    .about__skills{
        grid-template-columns: repeat(1, auto);
        gap: 100px;
        text-align: center;

    }

    .about__skills-image{
        justify-self: center;
        width: 100%;
    }

    .work__items {
        grid-template-columns: repeat(2, 255px);
    }
}



@media(max-width:880px){
    .menu-btn{
        display: flex;
    }



    .menu{
        position: absolute;
        flex-direction: column;
        top: 120px;
        right: 0;
        width: 305px;
        background: #7d7878;
        color: #fff;
        padding: 100px 0;
        
        transition: transform 1s;
        transform: translateX(100%);
        align-items: start;
        padding-left: 20px;
    }

    .menu.menu--active {
        transform: translateX(0);

    }


    .top{
        align-items: center;
        justify-content: center;
        text-align: center;  
        flex-direction: column;
    }

    .top__title{
        order: -1;
    }

    .work__images-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    
}

@media(max-width:565px){
    .top__inner{
        padding-top: 80px;
        padding-bottom: 100px;
    }
    .top__suptitle{
        font-size: 40px;
    }

    .top__title p{
        margin-top: 40px;

        font-size: 15px;
    }

    .top__btn{
        padding: 20px 25px;
        max-width: 195px;
    }

    .section__text{
        font-size: 14px;
        max-width: 400px;
    }


    .about__item{
        grid-template-columns: repeat(2, 141px);
    }


    .about__skills-box{
        width: 354px;
    }

    .about__skills-subtitle::before{
        width: 250px;
    }

    .work__video-inner{
        margin: 0;
        height: 500px;
    }

    .work__images-inner {
        grid-template-columns: repeat(1, 1fr);
    }

    .work__items {
        grid-template-columns: repeat(1, 255px);
    }

}

@media(max-width:430px){
    .top__suptitle{
        font-size: 35px;
    }

    .about__item{
        grid-template-columns: repeat(1, 1fr);
        gap: 70px;
    }
    

    .about__skills-box{
        width: 254px;
    }

    .about__skills-subtitle::before{
        width: 180px;
    }

}